.navbar {
  &-nav {
    display: flex;
    & li:first-child{
        margin-right: 30px;
      }
    }
  &-link:hover {
    opacity: 0.3;
  }
}
.nav-item.fas{
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1.5px solid #fff;
  border-radius: 4px;
  & a {
    display: inline-block;
  }
  & p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
  }
  &:hover {
    opacity: 0.8;
  }
  &.fa-edit {
    margin-right: 5px;
  }
}
.global {
  &__header{
    height: 50px;
    background-color: $base-color;
    & a {
      color: #fff;
    }
  }
  &__nav {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--main {
      display: flex;
    }
  }
  &__logo {
    margin-right: 30px;
  }
  &__home {
    &:hover {
      opacity: 0.3;
    }
  }
}
