@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html {
  line-height: 1;
  overflow-y: scroll;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html,
body,
div,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  outline: 0;
  font-weight: 400;
  font-variant: normal;
  background: 0 0;
}

body {
  cursor: default;
  line-height: 1;
  text-rendering: optimizelegibility;
}

table,
tr,
th,
td {
  border: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

button {
  outline: 0;
  border: 0;
}

strong {
  font-weight: bold;
}

:focus {
  outline: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.02);
  color: #555;
}

a {
  text-decoration: none;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav li:first-child {
  margin-right: 30px;
}

.navbar-link:hover {
  opacity: 0.3;
}

.nav-item.fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  border: 1.5px solid #fff;
  border-radius: 4px;
}

.nav-item.fas a {
  display: inline-block;
}

.nav-item.fas p {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
}

.nav-item.fas:hover {
  opacity: 0.8;
}

.nav-item.fas.fa-edit {
  margin-right: 5px;
}

.global__header {
  height: 50px;
  background-color: #5DA797;
}

.global__header a {
  color: #fff;
}

.global__nav {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global__nav--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global__logo {
  margin-right: 30px;
}

.global__logo span {
  margin-left: 10px;
}

.global__home:hover {
  opacity: 0.3;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.post__container {
  font-family: arial, helvetica, clean, sans-serif;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__side {
  width: 26%;
  height: 100%;
  margin-top: 68px;
}

.post__side--content {
  display: none;
  width: 100%;
  min-height: 620px;
  color: #555;
  background-color: #fff;
  font-size: 12px;
  line-height: 2em;
  margin-top: -1px;
  padding: 12px 8px 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 4px 4px 4px;
}

.post__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__tab--toggle {
  width: 100px;
  color: #555;
  background-color: #fff;
  font-size: 14px;
  padding: 12px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.post__tab--toggle .fas {
  font-size: 12px;
  margin-right: 6px;
}

.post__tab--toggle.active {
  border-bottom: none;
}

.post__tab--toggle.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.post__edit--title {
  width: 100%;
  height: 2em;
  color: #555;
  font-size: 14px;
  margin: 10px 0;
  padding: 4px 8px;
  border: 0.2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 1px #bcc3c9 inset;
          box-shadow: 0px 0px 2px 1px #bcc3c9 inset;
}

.post__edit--title:focus {
  -webkit-box-shadow: 0px 0px 6px 1px #2076c4;
          box-shadow: 0px 0px 6px 1px #2076c4;
}

.post__edit--content {
  width: 100%;
  min-height: 600px;
  color: #555;
  font-size: 14px;
  margin: 10px 0;
  padding: 4px 8px;
  border: 0.2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 1px #bcc3c9 inset;
          box-shadow: 0px 0px 2px 1px #bcc3c9 inset;
}

.post__edit--content:focus {
  -webkit-box-shadow: 0px 0px 6px 1px #2076c4;
          box-shadow: 0px 0px 6px 1px #2076c4;
}

.post__edit--comment {
  width: 90%;
  height: 100%;
  color: #555;
  font-size: 14px;
  margin: 10px;
  margin-bottom: 0;
  padding: 4px 8px;
  border: 0.2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 1px #bcc3c9 inset;
          box-shadow: 0px 0px 2px 1px #bcc3c9 inset;
}

.post__edit--comment:focus {
  -webkit-box-shadow: 0px 0px 6px 1px #2076c4;
          box-shadow: 0px 0px 6px 1px #2076c4;
}

.post__edit--submit {
  color: #fff;
  background-color: #5DA797;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-radius: 4px;
  padding: 6px 14px;
  cursor: pointer;
}

.post__edit--submit:focus {
  -webkit-box-shadow: 0px 0px 6px 1px #2076c4;
          box-shadow: 0px 0px 6px 1px #2076c4;
}

.post__errors {
  width: 30%;
}

.post__errors ul {
  border: 1px solid rgba(187, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0;
  background-color: rgba(187, 0, 0, 0.1);
}

.post__errors ul li {
  color: #BB0000;
  font-size: 14px;
  margin: 10px 0 10px 10px;
}

.post__comment {
  width: 28%;
  margin-top: 58px;
}

.form-group-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group-content {
  text-align: end;
}

.form-group-post {
  width: 70%;
}

.form-group-submit {
  text-align: end;
}

.form-group-item {
  margin-bottom: 20px;
}

.form-group-item p {
  text-align: end;
}

