
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "./frames/common";
@import "./components/header";

// Bootstrap
 //@import '~bootstrap/scss/bootstrap';

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}

.top {
  margin-top: 20px;
  display: flex;
  &__side {
    width: 10%;
    & li {
      margin-top: 10px;
      & a {
        color: $base-black;
        &:hover {
          color: $base-color;
        }
      }
    }
  }
  &__lists {
    width: 80%;
    margin-left: 20px;
    &--title {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin: 10px 0 20px 0;
    }
  }
  &__list {
    width: 80%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
    margin-bottom: -1px;
    position: relative;
    &--link {
    }
    & h3 {
      color: $base-black;
      font-weight: bold;
      margin-left: 10px;
      &:hover {
        color: $base-color;
      }
    }
    &--time {
      color: rgba(0,0,0,0.4);
      font-size: 12px;
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
    }
    &:hover > ul > .top__button {
      display: block;
      cursor: pointer;
    }
  }
  &__button {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 35px;
    display: none;
    &:hover {
      color: $base-black;
    }
    &.share {
      right: 60px;
    }
    &.tag {
      right: 32px;
    }
    &.delete {
      right: 10px;
    }
    &--link {
      color: rgba(0, 0, 0, 0.4);
      &:hover {
        color: $base-black;
      }
    }
    &--delete {
      font-size: 14px;
    }
  }
}

#session__message {
  width: 50%;
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}
