
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "frames/*";

// Bootstrap
 @import '~bootstrap/scss/bootstrap';


.global__header{
  height: 50px;
  background-color: $base-color;
  & a{
    text-decoration: none;
    color: white;
  }
}
