// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "./frames/common";
@import "./components/header";

// Bootstrap
 //@import '~bootstrap/scss/bootstrap';

.post {
  &__container {
    max-width: 1200px;
    margin: auto;
    font-family: arial, helvetica, clean, sans-serif;
  }
  &__errors {
    width: 30%;
    & ul {
      border: 1px solid rgba(187, 0, 0, 0.1);
      border-radius: 4px;
      margin: 20px 0;
      background-color: rgba(187, 0, 0, 0.1);
      & li {
        color: #BB0000;
        font-size: 14px;
        margin: 10px 0 10px 10px;
      }
    }
  }
}

#post__edit {
  &--title {
    width: 70%;
    height: 2em;
    color: $base-black;
    font-size: 14px;
    margin: 10px 0;
    padding: 4px 8px;
    border: 0.2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    box-shadow:0px 0px 2px 1px #bcc3c9 inset;
    &:focus {
      box-shadow:0px 0px 6px 1px #2076c4;
    }
  }
  &--content {
    width: 70%;
    min-height: 600px;
    color: $base-black;
    font-size: 14px;
    margin: 10px 0;
    padding: 4px 8px;
    border: 0.2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    box-shadow:0px 0px 2px 1px #bcc3c9 inset;
    &:focus {
      box-shadow:0px 0px 6px 1px #2076c4;
    }
  }
  &--submit {
    color: #fff;
    background-color: $base-color;
    font-size: 14px;
    letter-spacing: 1.5px;
    border-radius: 4px;
    padding: 6px 14px;
    cursor: pointer;
    &:focus {
      box-shadow:0px 0px 6px 1px #2076c4;
    }
  }
}

.form-group.submit {
  width: 70%;
  text-align: end;
}
